---
import { fade } from "astro:transitions";

const pageTitle = "My initial Astro project";
const identity = {
  firtsName : "Rober A.", 
  lastName : "Aviles", 
  country : "Mexico", 
  ocupation : "Software Engineer",
  hobys : ["Programing", "Drink coffe", "Watch anime", "Buy technologies"]
}

const skills = ["JavaScript", "React", "Astro", "NodeJS", "Django"]
const happy = true;
const finished = false;
const goals = 3;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <a href="/post/post-1/">.md</a>
    <ul>
      <h1>{pageTitle}</h1>
      <p>Hi, my name is {identity.firtsName} {identity.lastName}, i live in {identity.country} and i work as a {identity.ocupation}</p>
      {identity.hobys.length >= 2 && 
      <li>Two of my hobies are: {identity.hobys[0]} and {identity.hobys[1]}</li>
      }
    </ul>
    <ul>
      <p>My skills are:</p>
      {skills.map((skill) => <li>{skill}</li>)}
    </ul>
    {happy && <p>Im happy to be learning Astro!</p> }
    {finished && <p>I finished this tutorial.</p> }
    {goals === 3 ? <p>My gioal is to finish in 3 days</p> : <p>I not finished my goals in 3 days</p> }
  </body>
</html>